body {
	background: #888;
	margin: 0;
	padding: 0;
	
	font-family: "Helvetica", "Arial", sans-serif;
}

#body {
	background: black;
	color: white;
	margin: 0;
	padding: 0;
}

@media screen and (min-device-width: 400px) {
	#body {
		max-width: 340px; /* add 20 px for scrollbar? */
		height: 480px;
		overflow-y: scroll;
		overflow-x: hidden;
		position: relative;
	}
}

.navpage {
	display: none;
}
.navpage.active {
	display: block;
}

#detail-image {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	opacity: 0.5;
	z-index: 1;
}

#detail-data {
	position: absolute;
	z-index: 2;
}

h1 {
	font-size: 18px;
}

#detail-catlist {
	font-size: 14px;
	line-height: 2em;
}
.category-item {
	white-space: nowrap;
	color: black;
	background: #eee;
	border-radius: 8px;
	padding: 4px 8px;
}
.category-add {
	white-space: nowrap;
	color: black;
	background: #aaa;
	border-radius: 8px;
	padding: 4px 8px;
}

/* hack */
.langlabel-en {
	display: none;
}
.language.en {
	display: none;
}
